{
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
